In [1]:
import pandas as pd

In [2]:
test = pd.read_csv("../data/test.csv")

In [3]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [4]:
labels = pd.read_csv("../data/testLabels.csv")

In [5]:
labels.head()

   id  target
0   0       1
1   2       1
2   3       1
3   9       1
4  11       1

In [7]:
test = test.merge(labels, on='id')

In [8]:
test.to_csv("../data/test.csv")